.Row {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;

    .Item {
        display: flex;
        align-items: center;
    }

    .Item30 {
        flex-basis: 30%;
    }

    .Item50 {
        flex-basis: 50%;
    }

    .Item70 {
        flex-basis: 70%;
    }
}
.TextOption {
    overflow: hidden;
    text-overflow: ellipsis;
}
