.Image {
    position: relative;
    margin-right: 5px;

    .RemoveButton {
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: rgb(213, 213, 213, 0.5);
    }
}
.Image:last-child {
    margin-right: 0;
}