.MapPage {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    .Map {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}